/* К сожалению у меня так и не получилось сделать PARALLAX, при котором картинка при скролинге двигалась бы медленее текста */
*{margin: 0;padding: 0;border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
html,body{width: 100%;height: 100%;}
body{
background-color: #F2F2F2;;
min-height: 100%;
overflow-y: scroll;
overflow-x: hidden;
}
.wrapper{
background-color: #FFFFFF;
margin: 0 auto;
width: 1400px;
}
.img{
    max-width: 100%;
}
.wrap{
display: flex;
max-width: 1400px;
height: 596px;
box-sizing: border-box;
flex-wrap: wrap;
margin: 0 auto;
box-sizing: border-box;
}
  
.banner{
position: relative;
max-width: 1400px;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
margin: 0 auto;
display: block;
box-sizing: border-box;
transform-origin: center;
 flex-wrap: wrap;
}
.banner::before{
content: '';
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
margin: 0 auto;
display: block;
background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)), url(./bg1.jpg);
background-repeat: no-repeat;
clip-path: polygon(100% 0%, 100% calc(100% - 85px), 50% 100%, 0% calc(100% - 85px), 0% 0%);
box-sizing: border-box;
background-position: top center;
transform: translate3d(0, calc(var(--scrollTop) /5.7), 0);
background-attachment: fixed;
max-width: 1400px;
width: 100%;
}
.container{
position: absolute; 
display: flex;
max-width: 1400px;
width: 100%;
left: 0px;
margin-top: 55px;
background-color: #FFFFFF;
margin: 0 auto;
color: #424F57;
text-align: center;
box-sizing: border-box;
flex-wrap: wrap;
/* z-index: 10; */
/* transform: translateZ(0); */
/* z-index: 1;   */
}
.logo{
max-width: 281px;
width: 100%;
/* height: auto; */
margin-left: 202px;
margin-top: 40px;
margin-bottom: 37px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 36px;
display: flex;
align-items: center;
color: #424F57;
box-sizing: border-box;
flex-wrap: wrap;
}
.name{
    color: #14AFCA;
    font-weight: 900;
}
.menu{
max-width: 595px;
width: 100%;
margin-left: 152px;
margin-top: 52px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20.43px;
display: flex;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #3E4C4E;
justify-content: space-around;
flex-wrap: wrap;
box-sizing: border-box;
}
.what{
color: #14AFCA;
}
.slogan{
position: absolute;
width: 996px;
width: 100%;
left: 0px;
margin-top: 292px;
font-family: 'FuturaBT';
font-size: 52px;
line-height: 75px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
}
.wrapper-companies{
    display: flex;
    flex-direction: column;
}
.container-what{ 
display: flex;
flex-direction: column;
box-sizing: border-box;
max-width: 1051px;
width: 100%;
/* height: 100%; */
margin-top: 0px;
/* padding-bottom: 90px; */
justify-content: center;
align-items:center;
text-align: center;
margin-bottom: 90px;
}
.container-title{
height: 133px;
max-width: 506px;
width: 100%;
height: 133px;
margin-left: 0px;
margin-top: 122px;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;

color: #14AFCA;
}
.subtitle{
color: #424F57;
font-weight: 600;
font-size: 18px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;
font-family: 'Open Sans';
letter-spacing: 0.9px;
color: #424F57;
padding-top: 10px;
}
.text{
max-width: 992px;
width: 100%;
/* height: auto; */
left: 0%;
top: 122px;
/* padding-bottom: 90px; */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #424F57;

}
.wrapper-companies{
 position: relative;    
max-width: 1400px;
width: 100%;
height: 100%;
left: 0%;
top: 0px;
perspective: 1px;
box-sizing: border-box;
vertical-align: bottom;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-size: cover;
background-color: #FFFFFF;
}
.banner2{
max-width: 1400px;
width: 100%;
position: relative;
height: 630px;
/* flex-direction: column; */
margin-left: 0%;
margin-top: 0px;
background-image: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)), url(./bg2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
background-attachment: fixed;
box-sizing: border-box;
z-index: -2;
justify-content: center;
}
.banner2:after {
content: '';
position: absolute;
top: 0px;
right: 0;
margin-bottom: 0px;
left: 0;
width: 0;
height: 0;
border-left: 700px solid transparent;
border-right: 700px solid transparent;
border-top: 85px solid white;
}
.banner2::before{
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
box-sizing: border-box;
}
.title-companies{
    position: absolute;
max-width: 364px;
width: 100%;
height: auto;
margin-top: 126px;
margin-left: 518px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;
color: #14AFCA;
justify-content: center;
}
.subtitle-companies{
    position: absolute;
max-width: 506px;
width: 100%;
height: 75px;
top: 180px;
margin-left: 449px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.899999px;
color: #FFFFFF;
justify-content: center;
}

.img1{
position: absolute;
max-width: 189px;
width: 100%;
height: 34px;
left: 208px;
top: 306px;
}
.img2{ 
position: absolute;
max-width: 225px;
width: 100%;
min-height: 99px;
left: 452px;
top: 273px;
display: flex;
background: #FCFBFB;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}
.icon1{
display: flex;
max-width: 77px;
width: 100%;
height: auto;
margin-left: 16px;
top: 19px;
}
.adobe{
display: flex;
max-width: 114px;
width: 100%;
height: auto;
/* margin-left: 93px; */
top: 32px;
box-shadow: none;
}
.img3{
    position: absolute;
max-width: 217px;
width: 100%;
height: auto;
left: 723px;
top: 302px;
}
.img4{
    position: absolute;
max-width: 176px;
width: 100%;
height: auto;
left: 72.1%;
top: 283px;
}
.img5{
position: absolute;
max-width: 159px;
width: 100%;
height: auto;
left: 16.4%;
top: 490px;
}
.img6{
position: absolute;
max-width: 217px;
width: 100%;
height: auto;
left: 32.4%;
top: 490px;
}
.img7{
position: absolute;
max-width: 185px;
height: auto;
left: 52.4%;
top: 490px;
}
.img8{
position: absolute;
max-width: 200px;
height: auto;
left: 71.9%;
top: 495px;
}
.wrap-meet{
display: flex;
flex-direction: column;
justify-content: center;
max-width: 1400px;
width: auto;
height: 100%;
top: 1727px;
background-color: #FFFFFF;
margin-left: 196px;
margin-top: 177px;
margin-right: 194px;
margin-bottom: 87px;
}
.wrapper-meet{
display: flex;
max-width: 1010px;
width: 100%;
height: auto;
top: 82px;
box-sizing: border-box;
justify-content: center;
align-items: center;
text-align: center;
background-color: #FFFFFF;
}

.container-meet{
max-width: 506px;
width: 100%;
height: 142px;
top: 4px;
margin-left: 251px;
box-sizing: border-box;
align-items:center;
justify-content: space-around;
display: flex;
flex-direction: column;
}
.title-meet{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 40px;
top: 0;
display: flex;
align-items: flex-start;
text-align: center;
justify-content: center;
color: #14AFCA;    
letter-spacing: 0.9px;
}
.subtitle-meet{
    color: #424F57;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 40px;
top: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.9px;
}
.img9{
max-width: 207px;
width: 100%;
height: auto;
top: 131px;
}
.img9-paragraf{
max-width: 309px;
width: 100%;
height: auto;
margin-left: -15px;
top: 358px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #424F57;
z-index: 1;
}
.img10{
width: 203px;
height: auto;
/* margin-left: 161px; */
}
.img10-paragraf{
max-width: 309px;
width: 100%;
height: auto; 
min-height: 99px;
left: 34.9%;
top: 358px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #424F57;
z-index: 1;
}
.img11{
max-width: 207px;
width: 100%;
height: auto;
left: 76.1%;
top: 133px;
}
.img11-paragraf{
max-width: 309px;
width: 100%;
height: auto;
left: 70.9%;
top: 358px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #424F57;
z-index: 1;
}
body{
height: 100%;
background-color: #FFFFFF; 
}
.wrapper-testimonials{
max-width: 1400px;
width: 100%;
height: auto;
left: 0px;
top: 2268px;
}

.banner3{
max-width: 1400px;
width: 100%;
min-height: 580px;
left: 0px;
top: 137px;
bottom: 47px;
background:linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(./bg3.jpg) center / cover no-repeat;
background-position: 50% 100%;
clip-path: polygon(50% calc(100% - 493px), 100% 0%, 100% calc(100% - 85px), 50% 100%, 0% calc(100% - 85px), 0% 0%);
background-attachment: fixed;
box-sizing: border-box;
background-position: 50% 50%;
}
.text-testimonials{
display: flex;
flex-direction: column;
max-width: 1400px;
width: 100%;
height: auto;
padding-top: 190px;
justify-content: space-around;
align-items: center;
text-align: justify;
}
.container-testimonials{
display: table;
max-width: 506px;
width: 100%;
height: 87px;
top: 190px;
text-transform:unset;
box-sizing: border-box;
flex-direction:column;
text-align: center;

}
.title-testimonials{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 40px;
display: flex;
letter-spacing: 1.5px;
text-transform: uppercase;
justify-content: center;
color: #14AFCA;
}
.subtitle-testimonials{
display: inline-table;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 40px;
padding-top: 22px;
letter-spacing: 0.9px;
box-sizing: border-box;
justify-content: center;
color: #FFFFFF;
vertical-align: bottom;
}
.testimonials-paragraf{
max-width: 907px;
width: 100%;
height: auto;
margin-top: 48px;
font-family: 'OpenSans';
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.8px;
justify-content: center;
color: #D3CCCC; 
}
.ahmed{
max-width: 166px;
width: 100%;
height: 100%;
margin-left: 440px;
top: 437px;
font-family: 'OpenSans';
font-size: 18px;
line-height: 24px;
display: flex;
margin-top: 28px;
flex-direction: column;
align-items: center;
letter-spacing: 0.45px;
box-sizing: border-box;
color: #FFFFFF;
}
.wrapper-why{
display: flex;
flex-direction: column;
max-width: 1400px;
width: 100%;
height: 100%;
margin-top: 105px;
box-sizing: border-box;
justify-content: center;
align-items: center;
text-align: center;
background-color: #FFFFFF;
}
.container-why{
max-width: 485px;
width: 100%;
height: 134px;
top: 105px;
margin-bottom: 10px;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
text-align: center;
box-sizing: border-box;
    
}
.title-why{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 40px;
letter-spacing: 1.5px;
text-transform: uppercase;
box-sizing: border-box;
box-sizing: border-box;
color: #14AFCA;
}
.subtitle-why{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 40px;
letter-spacing: 0.45px;
box-sizing: border-box;
color: #424F57;
}
.text-why{
max-width: 816px;
width: 100%;
height: 100%;
top: 249px;
margin-bottom: 98px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 48px;
display: inline;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.75px;
color: #424F57;
}
.copyright{
max-width: 416px;
width: 100%;
height: auto;
top: 437px;
display: flex;
flex-direction: column;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
align-items: center;
text-align: center;
letter-spacing: 0.7px;
justify-content: center;
color: #3D3C3C;
}
.copyright-text{
display: inline;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
align-items: center;
text-align: center;
letter-spacing: 0.7px;
justify-content: center;
color: #3D3C3C;
}
.icon{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: inline;
align-items: center;
text-align: center;
letter-spacing: 0.8px;
color: #3D3C3C;
}
@font-face {
    font-family: 'FuturaBT';
    src: url(./Futura\ Bold\ Italic\ font.ttf);
    src: url(./Futura\ Bold\ Italic\ font.woff2);
    font-style:normal;
    font-weight:800;
}
